<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= data.page.title || "NBA Player Tracking" %></title>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css' /> -->
    <%= stylesheet_link_tag "all" %>
    <script type="text/javascript">
      __metrics = <%= metrics.values.flatten.to_json %>
    </script>
    <%= javascript_include_tag  "vendor", "all" %>
  </head>

  <body class="<%= page_classes %>">
    <header class="header">
      <h1>NBA Player Tracking</h1>
    </header>
    <%= yield %>
  </body>
</html>
