<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= data.page.title || "NBA Player Tracking" %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css' /> -->
    <%= stylesheet_link_tag "all" %>
    <script type="text/javascript">
      __metrics = <%= metrics.values.flatten.to_json %>
    </script>
    <%= javascript_include_tag  "vendor", "all" %>
  </head>

  <body class="<%= page_classes %>">
    <header class="header">
      <span class="plug">
        <a href="https://twitter.com/Caged">@Caged</a>
      </span>
      <h1>NBA Player Tracking</h1>
    </header>
    <%= yield %>

    <footer>
      This is an Open Source research project and not affiliated with or endorsed by the NBA.  Find it on <a href="https://github.com/Caged/nba-player-tracking">GitHub</a>.
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7881178-6', 'andone.co');
      ga('send', 'pageview');

    </script>
  </body>
</html>
