<span class="options">
  <select name="<%= metric %>" class="options js-x js-stat" data-axis="<%= axis %>">
    <option>Choose <%= metric.gsub('_', ' ') %> category</option>
    <% metrics[metric].each do |m| %>
    <option value="<%= m['k'] %>"><%= m['v'] %></option>
    <% end %>
  </select>
</span>
